<!-- About -->
<div class="agileaboutaitsabout" id="agileaboutaitsabout">
	<div class="agileaboutaits">
		<div class="container">
			<div class="col-md-6 col-sm-6 agileaboutaits-grid agileaboutaits-info">
				<h1>About Me</h1>
        <P><%= about.introduce %></p>
				<button class="btn btn-primary" data-toggle="modal" data-target="#myModal">READ MORE<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
			</div>

			<div class="col-md-6 col-sm-6 agileaboutaits-grid agileaboutaits-image">
				<div class="agileaboutaits-image-1">
          <%= image_tag about.image_first, alt: "Couture"  %>
				</div>
				<div class="agileaboutaits-image-2">
          <%= image_tag about.image_second, alt: "Couture"  %>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>

			<!-- Tooltip -->
			<div class="tooltip-content">
				<div class="modal fade features-modal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><%= about.name %></h4>
							</div>
							<div class="modal-body">
                <%= image_tag about.image_first, alt: "my self"  %>
                <p><%= about.content %></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- //Tooltip -->
		</div>
	</div>
</div>
<!-- //About -->
