<% set_meta_tags title: @portfolio.name,
                 description: @portfolio.introduce,
                 keywords: @portfolio.name.try(:split, ' ') %>
<% set_meta_tags og: {
  title:    @portfolio.name,
  type:     'website',
  url:      request.original_url,
  image:    @portfolio.photo.url(size: nil),
  description: @portfolio.introduce
} %>

<%= render "shared/header", sliders: @sliders, hide_menu: true %>
<div class="margin-none mr-top-2x mr-bottom-2x">
  <h2 style="color: #fff;"><%= @portfolio.name %></h2>
  <div class="container">
    <table class="table table-bordered" style="color: #fff;">
      <tbody>
        <tr>
          <th>Architect</th>
          <td><%= @portfolio.architect %></td>
        </tr>
        <tr>
          <th>Location</th>
          <td><%= @portfolio.location %></td>
        </tr>
        <tr>
          <th>Area</th>
          <td><%= @portfolio.area %></td>
        </tr>
        <tr>
          <th>Photographs</th>
          <td><%= @portfolio.photographs %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="grid">
    <div class="grid-sizer"></div>
    <% @portfolio_details.each do |portfolio| %>
      <div class="grid-item">
        <a href="#" class="grid-photo">
          <%= image_tag portfolio.photo.url(size: nil), alt: "random" %>
        </a>
       </div>
    <% end %>
  </div>
</div>

<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <img src="" class="imagepreview" style="width: 100%;" >
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer", about: @about  %>

<script>
  jQuery('.grid-photo').on('click', function() {
  	jQuery('.imagepreview').attr('src', jQuery(this).find('img').attr('src'));
  	jQuery('#imagemodal').modal('show');
  });		
</script>
