<%= render "shared/header", sliders: @sliders, hide_menu: true %>
<div class="container mr-top-2x">
    <div class="grid">
        <div class="grid-sizer"></div>
      <% @photos.each do |photo| %>
         <div class="grid-item">
            <%= image_tag photo.link, alt: "random" %>
          </div>
      <% end %>
    </div>
</div>
<%= paginate @photos %>
<%= render "shared/contact" %>
<%= render "shared/footer", about: @about  %>
