<!DOCTYPE html>
<html>
  <head>
    <title>SAAN studio</title>
    <%= csrf_meta_tags %>
    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="language" content="Vietnamese,vn" />
    <meta name="title" content="SAAN studio" />
    <meta name="keywords"
      content="Hue architect saanstudio thietkenha thietke thiet ke nha xaydunghue xay dung hue kientrucsu kientruc kien truc su" />

    <!-- Facebook -->

    <meta property="og:url" content="http://saanstudio.com">
    <meta property="og:title" content="SAAN studio" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://i.imgur.com/1zVrIpo.jpg" />
    <meta property="og:description" content="SAAN studio" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="SAANstudio">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //Meta-Tags -->
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <%= render partial: 'layouts/gtm' %>
  </head>

  <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
    <%= render partial: 'layouts/google_analytics' %>
    <%= yield %>
  </body>
</html>
